:root{
	--font-family-regular:'Inter' !important;
    --font-weight-normal:normal;
    --font-weight-bold:bold;
    --font-weight-thin:100;
    --font-weight-extralight:200;
    --font-weight-light:300;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-extrabold:800;
    --font-weight-black:900;
	
	--font-size-10:10px;
    --font-size-11:11px;
    --font-size-12:12px;
    --font-size-13:13px;
    --font-size-14:14px;
    --font-size-15:15px;
    --font-size-16:16px;
    --font-size-18:18px;
    --font-size-20:20px;
    --font-size-22:22px;
    --font-size-24:24px;
    --font-size-26:26px;
	
	  --color-white:#ffffff;
    --color-black:#000000;
    --color-gray22:#222222;
    --color-gray44:#444444;
    --color-gray66:#666666;
    --color-gray77:#777777;
    --color-gray99:#999999;
    --color-gray32:#323232;
    --color-gray1b:#1b1b1b;
    --color-panel-bg:#eaecf0;
	
    --color-light-gray2:#f4f5f8;
	--color-light-gray:#eef0f8;    
    --color-light-red:#f2e7e9;

    --common-btn-gray-color:#eef0f8;
    
    --pager-icon-brdr2:#c4c4c4;
    --pager-icon-color:#9494a2; 

    --btn-primary-bg:var(--common-maroon-bg);
    --btn-primary-brdr:var(--common-maroon-bg);    
    --btn-primary-color:var(--color-white);

    --btn-common-bg-hvr:var(--color-primary-yellow);
    --btn-common-brdr-hvr:var(--color-primary-yellow);    
    --btn-common-color-hvr:var(--color-black);

    --main-content-area-bg:var(--color-light-gray2);

	--color-pink:#ebcdcf;
	--color-primary-maroon:#820024;
	--color-primary-yellow:#ffd600;
	--common-text-color:var(--color-gray22);
    --common-border-color:#eaecf0;
	
	--login-bg-color:var(--color-pink);

	--common-maroon-bg:var(--color-primary-maroon);
	--common-maroon-color:var(--color-primary-maroon);
	
	
	--common-border-radius:4px;
	--input-bg-color:var(--color-light-gray2);
	--input-focus-bg-color:var(--color-white);	
	--input-brdr-color:var(--color-light-gray2);
	--input-focus-brdr-color:var(--color-primary-yellow);
	--input-placeholder-color:#d4d4d4;

    --header-nav-active:var(--color-light-red);

    --tab-active-bg:var(--color-white);
    --tab-active-color:var(--common-maroon-color);

    --header-bg:var(--color-white);
    --company-logo-bg:var(--color-primary-yellow);

    --main-header-height:50px;
    --header-height:50px;

    --left-panel-bg:var(--color-panel-bg);
    --left-panel-width:220px;

    --common-input-height:40px;

     /* Table */
     --table-heading-bg:#e1e2e9;
     --table-heading-color:#222222;
     --odd-row-bg:#ffffff;
     --even-row-bg:#f7f9fc;
     --table-column-height:40px;

     --common-button-height:30px;
     --color-blue-light:#eef0f8;
     --common-input-border-radius:4px;

       /* form */
    --formview-topstrip-height:40px;
    --formview-btmstrip-height:60px;
    --common-input-height:40px;
    --common-input-border-radius:2px;
      --common-form-label-color:var(--color-gray66);
    --common-form-input-color:var(--color-gray22);
    --common-form-input-placeholder-color:var(--color-gray99);
    --common-form-input-focus-bg: var(--color-yellow-light2);
    --listing-label-color:#777777;

    /* modal */
    --modal-head-bg:#f8f9fd;
    --modal-close-btn-size:24px;

    /* badge */
    --color-badge-open:#ffffff;
    --bg-badge-open:#ffa500;

    --color-badge-close:#ffffff;
    --bg-badge-close:#64c093;

    --color-badge-win:#ffffff;
    --bg-badge-win:#64c093;

    --color-badge-lost:#ffffff;
    --bg-badge-lost:#fa6262;

    --color-badge-waitingforreview:#ffffff;
    --bg-badge-waitingforreview:#ffa500;

    --color-blue-medium:#b5b5c3;

    
}